<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" type="image/png" href="/images/favicon-192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/images/favicon-512.png" sizes="512x512">
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
{% include analytics.html %}
<style>*{margin:0;padding:0;box-sizing:border-box;} html,body{height:100%;}</style>
</head>
<body>
{{ content }}
</body>
</html>
